[Unit]
Description=Alist Proxy Service
Wants=network.target
After=network.target network.service

[Service]
Type=simple
WorkingDirectory=/opt/alist-proxy
ExecStart=/opt/alist-proxy/alist-proxy
StandardOutput=append:/opt/alist-proxy/log.log
StandardError=append:/opt/alist-proxy/err.log
Restart=on-failure

[Install]
WantedBy=multi-user.target